<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="home">Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <nav class="navbar">
        <div class="Page-Title">
            <P>EKART-EXPRESS</P>
        </div>
        
        <div class="Elemets">   
        <a href="/admin-signup">Register</a>
        <a href="/admin-login">Login</a>
        <a href="">About</a>
        <a href="">Contact</a>
        </div>
    </nav>
    <h1>WELCOME TO THE EKART-EXPRESS</h1>

    <div class="list-items">
        <a href="/admin-signup">Register</a>
        <a href="/admin-login">Login</a>
    </div>
</body>
</html>