<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
</head>
<body>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <p style="color:green;">{{ message }}</p>
  {% endfor %}
{% endwith %}

<h2>Welcome, {{ user_name }}!</h2>

<a href="/user/products">Browse Products</a><br><br> 

<br><br>
<a href="/user-logout">Logout</a>

<br><br>
<a href="/user/cart">
    Cart <span id="cart-count">{{ session.get('cart')|length if session.get('cart') else 0 }}</span>
</a>

</body>
</html>
